.addTicket_top {
    background: white;
    padding: 20px 50px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
}

.addTicket_top .hot_line {
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    color: #0B4460;

}

.addTicket_top .hot_number {
    font-size: 32px;
    font-weight: 500;
    color: #0B4460;
    margin-left: 15px;
}

.addTicket_top .corporate_office {
    font-size: 16px;
    font-weight: 600;
    color: #0B4460;
    margin-left: 15px;
    margin: 0;
    text-align: center;
}

.addTicket_top .address {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: #575F64;
    margin-top: 5px;
}


.open_ticket_section {
    padding: 30px 50px;
    background: white;
    border-radius: 10px;
    margin-top: 30px;
    min-height: 500px;
}

.open_ticket_section h1 {
    font-family: Inter;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    color: #17C13C;
}

.open_ticket_dropdown {
    width: 100%;
}

.bootstrap-select {
    width: 100% !important;
    border: 1px solid #D9D9D9 !important;
    border-radius: 5px;
}

.bootstrap-select .dropdown-menu li a {

    border-bottom: 1px solid #D9D9D9;
}

.dropdown-item.active,
.dropdown-item:active {
    color: black !important;
    text-decoration: none;
    background-color: white !important;
}

.bootstrap-select .dropdown-toggle:focus,
.bootstrap-select>select.mobile-device:focus+.dropdown-toggle {
    outline: thin dotted #333 !important;
    outline: 0px auto -webkit-focus-ring-color !important;
    outline-offset: 0px !important;
}

.report_box {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding: 30px;
    border-radius: 10px;

}

.ovijog_title {

    font-size: 14px;
    font-weight: 600;
    color: #666666;


}


.report_box .reset_btn {
    padding: 10px 30px;
    border: 1px solid #FD0909;
    border-radius: 5px;
    color: #FD0909;
    background: #FDECEC;
    width: 225px;
    font-size: 12px;
    font-weight: 400;


}

.report_box .submit_btn {
    padding: 10px 30px;
    border: 1px solid #17C13C;
    border-radius: 5px;
    color: #17C13C;
    background: #E8F9EB;
    width: 225px;
    font-size: 12px;
    font-weight: 400;
}