.office_info_wraper {
    background: #FFFFFF;
    border-radius: 10px;
    position: relative;
    padding: 30px;
    padding-top: 50px;
    margin-bottom: 30px;
}

.office_info_wraper .office_title {
    background: #CEDADF;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    -webkit-clip-path: polygon(10% 100%, 90% 100%, 100% 0, 0 0);
    clip-path: polygon(10% 100%, 90% 100%, 100% 0, 0 0);
    text-transform: capitalize;
    padding: 12px 33px;
    color: #0B4461;
    text-align: center;
    width: fit-content;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
}