@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif !important;
  font-style: normal;
}

.delivery_type_not_receive {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  text-align: center;
  color: #FD0B0A;
}

.number_span {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: block;
  color: #17C13C;
}

.underline {
  text-decoration: underline;
}

.modal_table tr td {
  width: 50%;
}

.modal_table tr td span {
  font-size: 14px;
  color: #454545;
}

.common_view_table h1 {
  font-weight: 600;
  font-size: 18px;
}

.common_view_table table {
  border-collapse: separate;
  border-spacing: 0 18px;
}

.common_view_table table td:first-child {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #666666;
}

.common_view_table table td:last-child {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #454545;
}

.modal-backdrop {
  z-index: -1 !important;
}

.modal-open .modal {
  background: rgba(1, 1, 1, 0.5);
}

.common_primary {
  color: #0B4461;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
}

.common_red {
  color: #FD0B0A;
}

.not_received {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ED3E3E;
}

.common_warning {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #ECB409;
}


.equal_width_button {
  min-width: 225px;
  padding: 8px 0;
}

.cm_primary {
  color: #0B4461;
}

.cm_bg {
  background: #ffffff;
  border-radius: 10px;
}

.mb_fifty {
  margin-bottom: 50px;
}

.mb_thirty {
  margin-bottom: 30px;
}

.mb_fifteen {
  margin-bottom: 30px;
}

.p_thirty {
  padding: 30px;
}

.common_hyperlink {
  text-decoration-line: underline;
  color: #0D99FF;
  font-weight: 400;
  font-size: 14px;
}



.common_icon {
  height: 24px;
  width: 24px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
}

.common_box {
  border-radius: 10px;
  background: #ffffff;
}

.common-button,
.submit-button {
  background: #0B4461;
  border-radius: 5px;
  padding: 10px 50px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  border: none;
}

.common-button:hover {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.common_table {
  width: 100%;
  overflow: auto !important;
}

.common_table table {
  min-width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

.common_table table thead {
  background: #0B4460;
}

.common_table table thead tr th {
  font-weight: 400;
  font-size: 16px;
  max-width: 180px;
  color: #ffffff;
  border-bottom: 1px solid;
  border-top: 1px solid;
  padding: 10px;
}

.common_table table thead tr th:first-child {
  border-radius: 5px 0 0 5px;
}

.common_table table thead tr th:last-child {
  border-radius: 0 5px 5px 0;
}

.common_table table tbody tr .unique_note {
  max-width: 300px !important;
}

.common_table table tbody tr:nth-child(odd) {
  background: #F5FBFF;
}

.common_table table tbody tr td {
  max-width: 180px;
  min-width: 70px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #454545;
  padding: 10px;
  border-bottom: 1px solid #C7C7C7;
}

.common_table table tbody tr td .number_span {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: block;
  color: #17C13C;
}

.common_table table tbody tr td .accept_btn {
  background: #ECB409;
  border-radius: 5px;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  padding: 9px 15px;
  border: none;
}

.common_table table tbody tr td:first-child {
  border-radius: 10px 0 0 10px;
}

.common_table table tbody tr td:last-child {
  border-radius: 0 10px 10px 0;
}

.pagination_wraper {
  background: #FFFFFF;
  border: 1px solid #C7C7C7;
  border-radius: 20px;
  display: flex;
  align-items: center;
  margin: 20px 0;
  padding: 3px 9px;
  width: -moz-fit-content;
  width: fit-content;
  justify-content: center;
  margin-right: 30px;
  margin-left: auto;
}

.pagination_wraper * {
  margin: 0 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #666666;
}

.pagination_wraper .active {
  background: #0B4461;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}

.common_form_group label {
  font-weight: 400;
  font-size: 14px;
  text-transform: capitalize;
  color: #666666;
  margin-bottom: 10px;
}

.common_form_group input,
.common_form_group textarea {
  background: #ffffff;
  border: 1px solid #C7C7C7;
  border-radius: 5px;
  padding: 10px 10px;
  outline: none;
  width: 100%;
  font-size: 14px;
}

.common_form_group input::-moz-placeholder,
.common_form_group textarea::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  text-transform: capitalize;
  color: #666666;
}

.common_form_group input::placeholder,
.common_form_group textarea::placeholder {
  font-weight: 400;
  font-size: 14px;
  text-transform: capitalize;
  color: #666666;
}

.common_form_group input[type=checkbox] {
  width: -moz-fit-content;
  width: fit-content;
}

.common_form_group .custom-select.custom-select-sm {
  background-color: #0D99FF;
  border-radius: 5px;
  font-weight: 400;
  font-size: 14px;
  height: 44px !important;
}

.common_form_group .custom-select.custom-select-sm.common_select {
  background-color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  text-transform: capitalize;
  color: #C7C7C7;
}

.dashboard-body {
  max-height: 90vh;
  min-height: 90vh;
  overflow: scroll;
  /* ======================================================top bar end==================================================== */
}

.dashboard-body .dashboar-main-container {
  height: 100%;
  overflow: scroll;
}

.dashboard-body .dashboar-main-container .dashboard-main-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #878787;
}

.dashboard-body .dashboar-main-container .dashboard-main-title .current_path {
  color: #0B4461;
}

.dashboard-body .dashboar-main-container .search_input_btn_group {
  margin-top: 30px;
}

.dashboard-body .dashboar-main-container .search_input_btn_group div {
  background: #FFFFFF;
  border-radius: 10px;
  min-height: 42px;
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
}

.dashboard-body .dashboar-main-container .search_input_btn_group div input {
  height: 100%;
  border: none;
  outline: none;
  padding: 12px 10px;
  width: 50%;
}

.dashboard-body .dashboar-main-container .search_input_btn_group div input::-moz-placeholder {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #C7C7C7;
}

.dashboard-body .dashboar-main-container .search_input_btn_group div input::placeholder {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #C7C7C7;
}

.dashboard-body .dashboar-main-container .search_input_btn_group div button {
  background: #0B4461;
  border-radius: 10px;
  width: 200px;
  padding: 12px 0;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #C7C7C7;
}

.dashboard-body .dashboar-main-container .regular_parcel_table_wraper {
  background: #ffffff;
  border-radius: 10px;
  margin-top: 30px;
}

.dashboard-body .dashboar-main-container .regular_parcel_table_wraper .regular_parcel_top_part {
  padding: 0 30px;
  justify-content: space-between;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
}

.dashboard-body .dashboar-main-container .regular_parcel_table_wraper .regular_parcel_top_part .date_title {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: capitalize;
  color: #666666;
}

.dashboard-body .dashboar-main-container .regular_parcel_table_wraper .regular_parcel_top_part .box_title {
  background: #CEDADF;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  -webkit-clip-path: polygon(10% 100%, 90% 100%, 100% 0, 0 0);
  clip-path: polygon(10% 100%, 90% 100%, 100% 0, 0 0);
  text-transform: capitalize;
  padding: 12px 33px;
  color: #0B4461;
}

.dashboard-body .dashboar-main-container .regular_parcel_table_wraper .regular_parcel_top_part .express_box_title {
  background: rgba(237, 62, 62, 0.2);
  color: #ED3E3E;
}

.dashboard-body .dashboar-main-container .regular_parcel_table_wraper .regular_parcel_top_part .print_icon img {
  width: 24px;
}

.dashboard-body .dashboar-main-container .regular_parcel_table_wraper form {
  width: 70%;
  margin: 20px auto !important;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

/* =====================activity section====== */
.activity-section {
  background: #ffffff;
  border: 1px solid #C7C7C7;
  border-radius: 10px;
  padding: 30px;
}

.activity-section .activity-card {
  background: #e5ecf0;
  border-radius: 10px;
  padding: 10px;
}

.activity-section .activity-card img {
  width: 27px;
  height: 27px;
  -o-object-fit: cover;
  object-fit: cover;
}

.activity-section .activity-card p {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #454545;
  margin: 0;
  padding: 0;
  margin-top: 11px;
}

.activity-section .activity-card span {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  color: #0B4461;
}

.activity-section .activity-card small {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #6fd5f7;
}

/* ===========================common bg color===================  */
/* ===========================common bg color===================  */
/* ===========================common bg color===================  */
.bg-yellow {
  background: #e5b628 !important;
}

.color-yellow {
  color: #e5b628;
}

.bg-red {
  background: #ff6666 !important;
}

.color-red {
  color: #ff6666;
}

.bg-skyblue {
  background: #0d99ff !important;
}

.color-skyblue {
  color: #0d99ff;
}

.bg-green {
  background: #33cc66 !important;
}

.color-green {
  color: #33cc66;
}

.total_pickup_search {
  padding: 46px 100px;
}

.regular_prcel_box_title {
  color: #0B4461;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-transform: capitalize;
}




.common_hyperlink_without_underline {
  color: #0D99FF;
  font-weight: 400;
  font-size: 14px;
}

.number_span {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: block;
  color: #17C13C !important;
}

.dropdown_option {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  display: block;
}

.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none;
  /*hide original SELECT element:*/
}

.select-selected {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
  color: #B0B0B0 !important;
  padding: 0 !important;
  border-bottom: none !important;
  transition: al 0.4s ease-in-out linear;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
  transition: al 0.4s ease-in-out linear;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
  padding: 8px 16px;
  border: 1px solid transparent;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border-bottom: 1px solid #C7C7C7;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  display: block;
  margin-bottom: 10px;
  transition: al 0.4s ease-in-out linear;
}

/*style items (options):*/
.select-items {
  transition: 0.4s ease-in-out linear;
  position: absolute;
  background-color: white;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  height: auto;
  transition: al 0.4s ease-in-out linear;
}

/*hide the items when the select box is closed:*/
.select-hide {
  height: 0;
  overflow: hidden;
  transition: al 0.4s ease-in-out linear;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
  transition: al 0.4s ease-in-out linear;
}


/* dashboard css file  */
.dashboard_top_search {
  background: white;
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.dashboard_top_search>div {
  border: 1px solid #C7C7C7;
}

.checkbox_container span {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #454545;

}

.cc_parcel_btn{
  background: #0B4461 !important;
  color: white !important;
}

/*# sourceMappingURL=totalparcel.css.map */
/* ===============media query============= */
@media only screen and (max-width: 800px) {
  .total_pickup_search {
    padding: 20px;
  }
  .dashboard-body .dashboar-main-container .search_input_btn_group div input {
    width: 50% !important;
  }

  .regular_parcel_table_wraper form {
    width: 90% !important;
    grid-template-columns: repeat(1, 1fr) !important;
  }

  .profile-icon-wraper {
    width: 100% !important;
  }

  .activity-section {
    margin-bottom: 100px;
    padding: 10px;
  }

  .activity-section .activity-card span {
    font-size: 16px;
  }

  .activity-section .activity-card p {
    font-size: 14px;
  }

  .common_table {
    width: 300px;
    min-width: 100%;
    overflow: scroll !important;
    padding: 20px !important;
  }

  .common_table table {
    width: 700px;
  }

  .modal_table tr {
    display: block;
  }

  .modal_table tr td:last-child {
    width: 70%;
  }

  .modal_table tr td:first-child {
    width: 30%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 800px) {
  .dashboard-body .top-bar .ad-paragraph {
    max-width: 300px !important;
  }
}

/*# sourceMappingURL=dashboard.css.map */