@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap");
* {
  font-family: "Poppins", sans-serif !important;
}

.signup-container {
  display: flex;
  align-items: center;
  min-height: 100vh;

}
.signup-row {
  background: #ffffff;
  box-shadow: -1px -1px 2px rgba(11, 68, 97, 0.1),
    2px 3px 10px rgba(11, 68, 97, 0.14);
  border-radius: 30px;
  width: 75%;
  margin: 0 auto;
  min-height: 723px;
  padding: 30px;
}
.login-form-wraper {
  width: 100%;
  max-width: 500px;
  /* margin: 0 auto; */
}
.login-form-wraper .sign_up_title {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #0b4461;
  margin-bottom: 30px;
}
.login-form-wraper .login-form-group {
  margin-bottom: 20px;
}
.parcel_image {
  width: 300px;
  height: 90px;
}
.delivery_image {
  width: 398px;
  height: 398px;
}
.login-form-wraper .login-form-group input,
.login-form-wraper .login-form-group select {
  background: #f5f5f5;
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  width: 100%;
  height: 40px;
  outline: none;
  padding: 11px 12px;
  font-weight: 500;
  font-size: 16px;
}
.login-form-wraper .login-form-group input::placeholder {
  color: #877e7e;

}
.login-form-wraper .login-form-group label {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #0b4461;
}
.login-form-wraper .login-form-group button {
  background: #ed3e3e;
  border-radius: 10px;
  height: 40px;

  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  border: none;
  width: 100%;
  margin: 9px 0;
}
.login-form-wraper form p {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #454545;
  margin-bottom: 20px;
}
.form_bottom_title {
    font-weight: 500;
    font-size: 14px;
    text-align: end;
    color: #454545;
    cursor: pointer;
}

.login-form-wraper form .marchent-title {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #877e7e;
  display: block;
  margin-bottom: 10px;
}
.sign-up-button {
  background: #0b4461 !important;
}
.input-pass {
  position: relative;
}
.toggle-pass-icon {
  position: absolute;
  right: 10px;
  bottom: 10px;
  height: 15px;
  width: 22px;
}
.hot_line {
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  /* identical to box height */

  text-align: center;

  color: #454545;
}
.hot_line span {
  color: #ed3e3e;
}

@media only screen and (max-width: 800px) {
  /* .parcel_image {
    width: 150px;
    height: 45px;
  } */
  .delivery_image {
    width: 120px;
    height: 120px;
  }
  .hot_line {
    font-size: 14px;
  }
  .login-form-wraper .sign_up_title {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .signup-row {


    border-radius: 10px;
    width: 100%;
    margin: 10px auto;
  }
}
