.information_form_section {
    background: #FFFFFF;
    border-radius: 30px;
    padding: 30px;
}

.information_form_section>h1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    text-decoration-line: underline;
    color: #0B4461;
}

.marchent_info_form_grp {
    margin-bottom: 40px;
}

.marchent_info_form_grp label {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 8px;
    display: block;
    color: #666666;
}

.marchent_info_form_grp>input {
    border: 1px solid #C7C7C7;
    border-radius: 5px;
    outline: none;
    font-weight: 600;
    font-size: 14px;
    color: #454545;
    padding: 6px 12px;
    width: 100%;
}


/* dropodown menu */
#optin_container {
    position: relative;

}

.main_container {
    border: 1px solid #C7C7C7;
    border-radius: 5px;
    outline: none;
    font-weight: 600;
    font-size: 14px;
    color: #454545;
    padding: 6px 12px;
    width: 100%;
    cursor: pointer;

}

.list_item {
    padding: 6px 12px;
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 1000;
    border-radius: 4px;
    background: white;
    border: 1px solid #C7C7C7;

}

.list_item p {
    cursor: pointer;
    border-bottom: 1px solid #C7C7C7;
    font-weight: 600;
    font-size: 14px;
    color: #454545;
    margin-bottom: 6px;
}

.list_item p:last-child {
    border-bottom: none;
}

.hide {
    display: none;
}

#textField {
    border: none;
    outline: none;
}

#textField:disabled {
    cursor: pointer;
}

/* delivery_charge division  */
.delivery_charge {
    background: rgba(11, 68, 97, 0.1);
    padding: 9px;
}

.delivery_charge>h1 {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #0B4461;
    margin-bottom: 0;
}

.dc_sub_heading {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-decoration-line: underline;
    margin-bottom: 30px;
    color: #666666;
}

.weight_charge {
    background: rgba(11, 68, 97, 0.1);
    border-radius: 10px;
    min-height: 300px;
    padding: 10px;
}

.weight_charge>h6 {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    margin-bottom: 20px;
    color: #0B4461;
}

.menual_title {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-decoration-line: underline;
    color: #666666;
}

.charge_checkbox {
    font-weight: 600;
    font-size: 14px;
    color: #000000;
}


.marchen_info_save_btn>button {
    background: #17C13C;
    border-radius: 10px;
    padding: 10px 150px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    border: none;
}