.inactive_btn {
    background: rgba(237, 62, 62, 0.15);
    border-radius: 2px;
    padding: 5px 13px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #ED3E3E !important;
    text-decoration: none;
}
.inactive_btn:hover{
    text-decoration: none;
}