@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
#dashboard-container {
  height: 100vh;
  position: fixed;
  display: grid;
  background: #e5ecf0;
  grid-template-columns: 350px 1fr;
}
#dashboard-container .item1 {
  grid-row: 1/4;
  grid-column: 1;
}
#dashboard-container .item2 {
  grid-column: 1/span 3;
  grid-column: 2;
}
#dashboard-container .item3 {
  grid-column: 1/span 3;
  grid-column: 2;
}

/* ===========================================================sidebar====================================================  */
.sidebar {
  overflow: scroll;
  overflow-x: hidden;
  height: 100vh;
  background: #ffffff;
  border: 1px solid #e6e6e6;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  padding-bottom: 80px;
  transition: 0.8s ease-in-out;
}
.sidebar.show {
  position: absolute;
  z-index: 1000;
  width: 310px;
  height: 100vh;
}
.sidebar.hide {
  position: absolute;
  width: 0px;
  height: 100vh;
  z-index: 1000;
}
.sidebar #close-menu {
  position: absolute;
  right: 10px;
  top: 20px;
}
.sidebar #close-menu img {
  height: 30px;
  cursor: pointer;
  width: 30px;
}
.sidebar .logo-wraper {
  padding: 10px;
  background: rgba(11, 68, 97, 0.1);
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}
.sidebar .logo-wraper p {
  margin-bottom: 10px !important;
}
.sidebar .logo-wraper p strong {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #0B4461;
}
.sidebar .logo-wraper p span {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #454545;
}
.sidebar .logo-wraper .person-img {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sidebar .logo-wraper .logo {
  width: 164px;
  -o-object-fit: cover;
     object-fit: cover;
}
.sidebar .menu-link {
  margin-top: 20px;
}
.sidebar .menu-link .logout_btn {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #0B4461;
}
.sidebar .menu-link img {
  width: 24px;
  margin-right: 24px;
}
.sidebar .menu-link a {
  text-decoration: none;
  white-space: nowrap;
  color: #454545;
  display: block;
  margin-bottom: 4px;
  padding: 13px 20px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  color: #454545;
}
.sidebar .menu-link a:hover {
  background: #dbe3e7;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.sidebar .bell_icon_wraper {
  white-space: nowrap;
  margin: 10px;
}
.sidebar .bell_icon_wraper .ticket_btn {
  background: #FFFFFF;
  border: 1px solid #C7C7C7;
  border-radius: 10px;
  padding: 12px 20px;
  color: #0B4461;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  margin-right: 10px;
}
.sidebar .bell_icon_wraper .ticket_btn img {
  height: 20px;
  width: 20px;
  margin-left: 20px;
}
.sidebar .bell_icon_wraper .track_parcel_btn {
  background: rgba(11, 68, 97, 0.2);
  border: 1px solid #0B4461;
  border-radius: 10px;
  padding: 13px 20px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #0B4461;
}
.sidebar .bell_icon_wraper .parcel_btn {
  background: #0B4461;
  border-radius: 10px;
  padding: 12px 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  border: none;
  color: #FFFFFF;
  margin-top: 20px;
}
.sidebar hr {
  border: 1px solid #C7C7C7;
}

/* =============================================================dashboard body============================================ */
.top-bar {
  background: #ffffff;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  position: sticky;
  top: 0;
  z-index: 11;
}
.top-bar .profile-icon-wraper {
  width: -moz-fit-content;
  width: fit-content;
}
.top-bar .menu-title {
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  color: #0B4461;
  margin: 0;
}
.top-bar .ad-paragraph {
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: #17c13c;
  max-width: 600px;
  margin: 0;
  padding: 0;
  border: 1px solid #d7d7d7;
  border-radius: 10px;
  padding: 10px 30px;
  white-space: nowrap;
  overflow: hidden;
}
.top-bar .avatar {
  width: 42px;
  border-radius: 50%;
}
.top-bar .avatar img {
  width: 42px;
}
.top-bar #menu img {
  height: 30px;
  cursor: pointer;
  width: 30px;
}
.top-bar .dropdown-menu {
  background: #ffffff !important;
  border-radius: 10px !important;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  padding: 20px 10px;
  color: #666666;
}
.top-bar .dropdown-menu .dropdown-item {
  padding: 5px 0 !important;
  font-weight: 700;
}

/* ===========================customize scroll bar==============  */
.custom-scroll::-webkit-scrollbar {
  display: none;
}

.custom-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* width */
.sidebar-custom-scroll::-webkit-scrollbar {
  width: 2px;
  height: 16px !important;
}

/* Track */
.sidebar-custom-scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.sidebar-custom-scroll::-webkit-scrollbar-thumb {
  background: #0B4461;
}

/* Handle on hover */
.sidebar-custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}/*# sourceMappingURL=sidebarwithtopmenu.css.map */