.solved_by_check {
    background: #FFFFFF;
    border: 1px solid #C7C7C7;
    border-radius: 5px;
    padding: 2px 18px;
    width: fit-content;
}

.solved_by_check p {
    font-weight: 500;
    font-size: 18px;
    color: #666666;
    display: flex;
    align-items: center;
   
}
.solved_ticket_issue{
    font-size: 14px;
    min-height: 350px;
}