.modal_form.cancel_btn,
.modal_form.save_btn {
    width: 150px;
    border: none;
    color: white;
    font-size: 16px;
    padding: 5px 8px;
    border-radius: 8px;
}

.modal_form.cancel_btn {
    background: #0B4461;
}

.modal_form.save_btn {
    background: #ED3E3E;
}

.ticketbox_hirizontal_line {
    border: .9 solid black;
}


@media only screen and (max-width: 800px) {
    .total_pickup_search {padding: 30px;}
}