.common_hyperlink_without_underline {
  color: #0D99FF;
  font-weight: 400;
  font-size: 14px;
}

.number_span {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: block;
  color: #17C13C !important;
}

.dropdown_option {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  display: block;
}

.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none;
  /*hide original SELECT element:*/
}

.select-selected {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
  color: #B0B0B0 !important;
  padding: 0 !important;
  border-bottom: none !important;
  transition: al 0.4s ease-in-out linear;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
  transition: al 0.4s ease-in-out linear;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
  padding: 8px 16px;
  border: 1px solid transparent;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border-bottom: 1px solid #C7C7C7;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  display: block;
  margin-bottom: 10px;
  transition: al 0.4s ease-in-out linear;
}

/*style items (options):*/
.select-items {
  transition: 0.4s ease-in-out linear;
  position: absolute;
  background-color: white;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  height: auto;
  transition: al 0.4s ease-in-out linear;
}

/*hide the items when the select box is closed:*/
.select-hide {
  height: 0;
  overflow: hidden;
  transition: al 0.4s ease-in-out linear;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
  transition: al 0.4s ease-in-out linear;
}/*# sourceMappingURL=totalparcel.css.map */